.searchTodo input {
    background: transparent;
    border: 0;
    outline: none;
    margin-top: 2rem;
    border-bottom: 1px solid white;
}

::placeholder {
    color: rgba(204, 197, 197, 0.658);
    font-size: 14px;
    text-align: center;
}